@tailwind base;
@tailwind components;
@tailwind utilities;


#root {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center; */
  width: 100%;
}

/* Custom slim scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent; /* or bg-gray-100 */
}

::-webkit-scrollbar-thumb {
  background-color: #072635; /* Tailwind gray-300 */
  border-radius: 9999px;
  max-height: 150px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #333; /* Tailwind gray-400 */
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

